.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;

  left: 50%;
  bottom: 40%;
  transform: translate(-50%, 50%);
  background: linear-gradient(57deg, rgb(0, 0, 0), #ca0505);
}
h1,
h6,
.form-text {
  color: white;
}
.form-label {
  color: whitesmoke;
  font-weight: bolder;
}
.btn-primary {
  font-weight: bolder;
  background: linear-gradient(57deg, rgb(0, 0, 0), #ca0505);
}
#RegLogin {
  color: whitesmoke;
  font-weight: bolder;
  padding-left: 50%;
}
